@model User
<!-- Insert Model Here -->
<div class="row justify-content-center">
    <div class="col-lg-10 rounded justify-content-center m-4 bg-white">
        <div class="row justify-content-center m-3">
            <h1 class="text-success mb-3">S U C C E S S</h1>
        </div>
        <div class="row justify-content-center m-3">
            <h3>Welcome @Model.FirstName @Model.LastName</h3>
        </div>
        <div class="row justify-content-center m-3">
            <a href="logout" class="btn btn-danger my-2 ml-3">Logout</a>
        </div>
    </div>
</div>